.homePage {
  background: radial-gradient(
    ellipse at bottom right,
    rgb(0, 13, 30) 0%,
    rgb(30, 31, 35) 100%
  );
  height: 100%;
}

.homeBox {
  border: 1px solid #fff;
  border-radius: 4px;

  padding: var(--mantine-spacing-xl);
}
