/* Navbar.module.css */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.anchor {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.anchor:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #007bff;
  color: white;
  font-weight: 700;
}
