.navbar {
  width: 80px;
  height: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  /* border-right: 1px solid */
  /* light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
  background-color: #ffffff;
}

.navbarMain {
  flex: 1;
  margin-top: 50px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;

  &:hover {
    background-color: #000;
    color: var(--mantine-color-endfield-yellow-1);
  }

  &[data-active] {
    &,
    &:hover {
      background-color: #000;
      color: var(--mantine-color-endfield-yellow-1);
    }
  }
}
