.resourceGridBG {
  background: radial-gradient(
    ellipse at bottom right,
    rgb(0, 13, 30) 0%,
    rgb(30, 31, 35) 100%
  );
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  height: 100%;
}

.resource {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: var(--mantine-spacing-xs);
}

.resourceName {
  text-transform: capitalize;
}

.resourceImage {
  width: 50px;
  aspect-ratio: 1/1;
}

.subregionEditButton {
  background-color: var(--mantine-color-endfield-yellow-1);
  color: #000;
  padding: var(--mantine-spacing-xs);

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;

  font-weight: 700;
}

.subregionNavButton {
  background-color: var(--mantine-color-endfield-yellow-1);
  color: #000;
  width: 12em;
  padding: var(--mantine-spacing-xs);

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;

  span {
    font-weight: 700;
  }
}
